<!--
  <%= banner %>
-->
<html>
  <head>
    <script src="<%= base %>/dist/commons.js"></script>
    <script src="<%= base %>/dist/<%= index %>-<%= source %>.bundle.js"></script>
    <title>RGL Example <%= index %> - <%= title %></title>
  </head>
  <body>
    <h3>React-Grid-Layout Demo <%= index %> - <%= title %></h3>
    <% for(var i = 0; i < paragraphs.length; i++) { -%>
       <p><%- paragraphs[i] %></p>
    <% } -%>
    <ul>
    <li><a href="https://github.com/STRML/react-grid-layout">View project on GitHub</a></li>
    <li><a href="https://github.com/STRML/react-grid-layout/blob/master/test/examples/<%= index %>-<%= source %>.jsx">View this example's source</a></li>
    <% if (previous) { %>
      <li><a href="<%= index - 1 %>-<%= previous.source %>.html">View the previous example: "<%= previous.title %>"</a></li>
    <% } -%>
    <% if (next) { %>
      <li><a href="<%= index + 1 %>-<%= next.source %>.html">View the next example: "<%= next.title %>"</a></li>
    <% } -%>
    </ul>
    <div id="content"></div>
  </body>
</html>
